.Rproj.user
.Rhistory
.RData
.Ruserdata
bi_size.R
s_line_width_1.gpkg
scenarios.R
steps_thoughts.R
test_waterside_path.dbf
test_waterside_path.prj
test_waterside_path.shp
test_waterside_path.shx
combine_routes.R
combine_routes_OS_prow.R
disjoint.gpkg
exeter_routes.gpkg
investigate_OS_NGD.R
summarise_waterside.R